:root {
    --textNav-size: calc(1.5vh + 1.5vw);
    --texColor: #FFFFFF;
}
  
*{
    font-family: 'Inter', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

/*Contendor de la barra de navegacion*/
.container-navegation{
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #8A2BE2;
}

/*Contenedor del logo*/
.logo{
    width: 15%;
    padding-left: 2%;
    display: flex;
    align-items: center;
}

.icon-logo{
    width: 25%;
    margin-right: 4%;
}

.text-logo{
    color: var(--texColor);
    font-size: var(--textNav-size);
    font-weight: bolder;
}

.active-hidden{
    visibility: hidden;
    
}

/*Contendor de las opciones para navegar*/
.options{
    width: 30%;
}

#options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.option a{
    font-size: calc(var(--textNav-size) - calc(.5vh + .5vw));
    font-weight: 500;
    color: var(--texColor);
    text-decoration: none;
}

.buttons{
    width: 30%;
    padding-right: 1%;
    text-align: right;
    display: flex;
    justify-content: space-evenly;
}

.btn-account{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8A2BE2;
    font-weight: 500;
    font-size: calc(var(--textNav-size) - calc(.5vh + .5vw));
    width: 40%;
    height: 8vh;
    border-radius: 6px;
    background: var(--brand-purple-100, #F1E4FF);
    border-color: #F1E4FF;
}

.btn-play{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: calc(var(--textNav-size) - calc(.5vh + .5vw));
    width: 40%;
    background-color: #8A2BE2;
    border-radius: 6px;
    border: 1px solid var(--default-white, #FFF);
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {

}

